{% extends 'base.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1 class="text-center name" style="background-color: chartreuse;width: 100%;padding: 15px;">Hi Welcome to Bella's Gallery</h1>
  <div class="row">
  {% for i in images %}
  <div class="col-md-3">
  <img src="{{i.image.url}}"width="100%" alt="">
  {{i.description}}
</div>
{% include 'modal.html'%}
  {%endfor%} 
</div>
</body>
</html>
{%endblock%} 