<div class="modal" id="expand{{image.id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img src="{{i.image.url}}" alt="" style="height: 20rem; width: 30rem;">
            <br>
            <br>
            
        </div>
        <div class="modal-footer">
            <input class="form-control input-lg" type="text" value="{{image.image.url}}"
                      id="copy">
                  <button class="btn btn-success btn-sm"
                      onclick="copyLink('{{image.id}}.url')">Copy</button>
                      <button type="button" class="btn btn-danger btn-simple btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>